body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: center; 
    align-items: center;     
    list-style: none;        
    background-image: linear-gradient( lightblue,lightgreen);
    padding: 25px;
    margin: 0;
  }
  
  .navbar li {
    margin: 0 50px;  
    font-size:x-large;   
    color:black;
    font-weight: medium;      
  }
  
  .navbar li a {
    text-decoration: none;  
    color: rgb(180, 13, 13);            
       
  }
  
  .navbar li:hover {
    background-color: #7ad610; 
    padding: 5px;
  }
  